*{
	margin:0 auto;
	padding:0 auto;
	box-sizing:border-box;
}
.container{
	width:100%;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.calculator{
	background-color:#9591915e;
	padding:20px;
	width:25%;
	height:450px;
	border-radius:30px;
	box-shadow:0px 0px 5px #ccc;
	display:flex;
	flex-wrap:wrap;

}
input{
    width:100%;
	height:50px;
	font-size:40px;
	text-align:end;
	padding:10px;
	border-radius:30px;
	border:none;
	box-shadow:0px 0px 5px #ccc;
}
button{
	height:50px;
	width:50px;
	margin:10px;
	margin-left:25px;
	border:none;
	border-radius:50%;
	background-color:#ecf0f3;
	box-shadow:0px 0px 5px #fff;
	font-size:16px;
}
.equal{
	width:40%;
	border-radius:40px;
}